<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.inboxhealth.cordova.plugins.defaults"
    version="0.0.1">

    <name>cordova-defaults</name>

    <!-- <asset src="www/defults.js" target="defaults.js" /> -->
    <dependency id="org.apache.cordova.cardflight" url="https://github.com/InboxHealth/cordova_cardflight" />
    <dependency id="org.apache.cordova.statusbar" url="https://github.com/apache/cordova-plugin-statusbar" />
    <dependency id="org.apache.cordova.splashscreen" url="https://github.com/apache/cordova-plugin-splashscreen.git" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />.
</plugin>
